<!DOCTYPE html>
  <html>
    <head>
    <title>Laporan Akhir 1</title>
    <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h1>Daftar Nama </h1>
        <hr>
        <table class="demo-table" align="center">
            <thead>
                <th colspan="2">Nama</th>
                <th rowspan="2">Kelas</th>
                <th rowspan="2">NPM</th>
                <tr>
                    <th>Nama Lengkap</th>
                    <th>Nama Panggilan</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Ahmadin Zaki</td>
                    <td>Zaki</td>
                    <td>51416423</td>
                    <td>4IA16</td>
                </tr>

                <tr>
                    <td>Dhanna Riantka P</td>
                    <td>Dana</td>
                    <td>53422345</td>
                    <td>4IA16</td>
                </tr>

                <tr>
                    <td>Choulatin Sholihah</td>
                    <td>Ula</td>
                    <td>53124567</td>
                    <td>4IA16</td>
                </tr>

                <tr>
                    <td>Siti Putri Balqis</td>
                    <td>Balqis</td>
                    <td>53422675</td>
                    <td>4IA16</td>
                </tr>

                <tr>
                    <td>Ariq Rizky Fauzan</td>
                    <td>Aiq</td>
                    <td>51416080</td>
                    <td>4IA16</td>
                </tr>
            </tbody>
        </table>
    </body>
  </html>

